<html>
    <head>
        {% load staticfiles %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'libox/css/custom.css' %}">
    </head>
    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>