{% extends 'libox/base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <!-- Statistics -->
            
            <div class="row stats">
                <div class="col-xs-2"><a href="logout/">{{ request.user.username }}</a></div>
                <div class="col-xs-2"></div>
                <div class="col-xs-2">3</div>
                <div class="col-xs-2">4</div>
                <div class="col-xs-2">5</div>
                <div class="col-xs-2">6</div>
            </div>
        </div>
    </div>

    <div id="cardContainer"></div>

</div>

{% load staticfiles %}
<script src="{% static 'libox/src/bundle.js' %}"></script>
{% endblock %}
