{% extends 'libox/base.html' %}

{% block main %}
<div class="col-md-2 col-md-offset-5">
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="text-danger small">{{ error }}</span>
            </div>
            <div class="col-md-10">
                <label class="control-label col-md-2">{{ form.0 }}</label>
                <input name="{{ form.0 }}" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2">{{ form.1 }}</label>
                <input name="{{ form.1 }}" type="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="login-form-buttons">
                    <button type="submit">Login</button>
                    <a href="{% url 'libox:register' %}">Register</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}