{% extends 'libox/base.html' %}

{% block main %}
<div class="col-md-2 col-md-offset-5">
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% include 'libox/form-template.html' %}
        <div class="form-group">
            <div class="col-md-12">
                <div class="login-form-buttons">
                    <button type="submit">Register</button>
                    <a href="{% url 'libox:login' %}">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}