body {
    background: #303030;
    color: silver;
}

input {
    background: #1d1d1d;
    border: solid #1d1d1d;
    width: 100%;
}

textarea {
    background: #1d1d1d;
    border: solid #1d1d1d;
    width: 100%;
    resize: none;
}

button {
    background: #1d1d1d;
    border: solid #1d1d1d;
    margin-top: 20px;
}

button:hover {
    color: #2196f3;
}

span {
    margin:4px;
}

.stats {
    line-height: 50px;
}

.card {
    position: relative;
  min-height:50px;
  color: white;
  background:#424242;
  margin-top:20px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  /*overflow:hidden;*/
}

.card .content {
  padding-right: 40px;
  padding: 4px 10px 16px;
}

.card.favorite {
    color: black;
    background: #FFC107;
    box-shadow: 0px 2px 6px #FFC107;
}

.linebreak {
    height: 1px;
    background: #444;
}

.extraContent {
    max-height: 315;
    width:  100%;
    overflow: hidden;
    padding:0;
}

.extraContent img {
    width: 100%;
}

.extraContent iframe {
    width: 100%;
    height: 100%;
}

.menu {
  position: absolute;
  right: -20px;
  top:   -16px;
}

.menu>span {
  color: black;
  background: #8C9EFF;
  padding:8px;
  border-radius:50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size:16px;
  margin: 0 0.4em;
  cursor:pointer;
}

.menu>span:hover {
  color:white;
}

.loadmore {
    text-align: center;
    width: 200px;
    margin: 20px;
    margin-left: calc(50% - 100px);
}

.login-form-buttons {
    display: flex;
    justify-content: space-around;
}

.login-form-buttons > button {
    margin: 0;
}